<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, https://imransdesign.com/">
	<link rel="shortcut icon" type="image/png" href="/assets/images/Imagen2.png">
    <link rel="stylesheet" href="/assets/css/formulario.css">
    <title><%= titulo %></title> 
</head>
<header>
    <%- include('./layout/nav.ejs'); %>
</header>

<header>
    <%- include('./layout/diseño.ejs'); %>
</header>

<header>
    <%- include('./layout/diseñoClientesRegistrados.ejs'); %>
</header>
<body>
<div class="cart-section mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                        <table class="cart-table">
                            <thead class="cart-table-head">
                                <tr class="table-head-row">
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Dirección</th>
                                    <th>Edad</th>
                                    <th>Fecha de nacimiento</th>
                                    <th>Telefono</th>
                                    <th>Correo electrónico</th>
                                    <th>Nombre de usuario</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% consultar_Cliente.forEach(cliente => { %>
                                    <tr class="table-head-row">
                                        <td><%= cliente.ID_Cliente %></td>
                                        <td><%= cliente.Nombre %></td>
                                        <td><%= cliente.Apellido %></td>
                                        <td><%= cliente.Direccion %></td>
                                        <td><%= cliente.Edad %></td>
                                        <td><%= cliente.Fecha_nacimiento %></td>
                                        <td><%= cliente.Telefono %></td>
                                        <td><%= cliente.Correo %></td>
                                        <td><%= cliente.Nombre_usuario %></td>
                                        <td>
                                            <a style="color: red;" onclick=" return eliminar(<%= cliente.ID_Cliente %>)">Borrar</a>
                                            <a href="/actualizacionClientes?id=<%= cliente.ID_Cliente %>&nombre=<%= cliente.Nombre %>&apellido=<%= cliente.Apellido %>&direccion=<%= cliente.Direccion %>&edad=<%= cliente.Edad %>&Fecha_nacimiento=<%= cliente.Fecha_nacimiento %>">Actualizar</a>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
        <script>
        
            function eliminar(id)
            {
                Swal.fire({
                    title: '¿Quieres eliminar el cliente?',
                    text: "Si eliminas el registro no podras revertir la accion",
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Eliminar",
                    cancelButtonText: "Cancelar"
                }).then((result) => {
                    if(result.isConfirmed){
                        window.location= '/clientesRegistrados/'+id;
                        Swal.fire({
                            title: "Eliminado!",
                            text: "El registro ha sido eliminado",
                            icon: "success",
                            showConfirmButton: false,
                            time:3000
                        });
                        setTimeout(function(){
                            window.location= '/clientesReistrados';
                        },1000)
                    }
                })
            }

        </script>
</body>
<footer>
    <%- include('./layout/footer.ejs'); -%>
</footer>
</html>