<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="/assets/images/LOGO5.png">
    <link rel="stylesheet" href="/assets/css/formulario.css">
    <title><%= titulo %></title> 
</head>
<header>
    <%- include('./layout/nav.ejs'); %>
</header>

<header>
    <%- include('./layout/diseño.ejs'); %>
</header>

<header>
    <%- include('./layout/diseñoCrearPedido.ejs'); %>
</header>
<body>
    <div class="cart-section mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="cart-table-wrap">
                        <table class="cart-table">
                            <thead class="cart-table-head">
                                <tr class="table-head-row">
                                    <th class="product-name">Nombre</th>
                                    <th class="product-name">Descripción</th>
                                    <th class="product-price">Cantidad</th>
                                    <th class="product-quantity">Precio unitario</th>
                                    <th class="product-total">Acumulado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% consultar_Carrito.forEach(carrito => { %>
                                    <tr class="table-body-row">
                                        <td><%= carrito.Nombre_producto %></td>
                                        <td><%= carrito.Descripcion %></td>
                                        <td><%= carrito.Cantidad_producto %></td>
                                        <td><%= carrito.Precio_unitario_producto %></td>
                                        <td><%= carrito.Precio_total_productos %></td>
                                    </tr>
                                <% }); %>
                                <tr class="table-body-row">
                                    <th class="product-name" style="text-align: center;">Total a pagar</th>
                                </tr>
                                <tr class="table-body-row">
                                    <td><%= totalPagar %></td>
                                </tr>
                                 <td class="product-total"><button id="finalizarPedidoBtn" type="button" style="border-radius: 15px;">Finalizar pedido</button></td>
                                </tr>
                            </tbody>
                        </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <%- include('./layout/footer.ejs'); -%>
</footer>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
<script>
    document.getElementById('finalizarPedidoBtn').addEventListener('click', function() {
        Swal.fire({
            title: '¿Estás seguro de finalizar la compra?',
            text: "No podrás revertir esta acción una vez confirmada.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, finalizar compra',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/crearPedido';
                Swal.fire({
                    title: "Finalizado!",
                    text: "Tu pedido ha finalizado",
                    icon: "success",
                });
                setTimeout(function(){
                    window.location= '/pedidosEnCurso';
                },1000)
                // Redireccionar al usuario después de finalizar la compra
                window.location.href = '/crearPedido'; // Cambiar la URL según tu aplicación
            }
        });
    });
</script>
</html>
