<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, https://imransdesign.com/">
	<link rel="shortcut icon" type="image/png" href="/assets/images/Imagen2.png">
    <link rel="stylesheet" href="/assets/css/formulario.css">
    <title><%= titulo %></title> 
</head>
<header>
    <%- include('./layout/nav.ejs'); %>
</header>

<header>
    <%- include('./layout/diseño.ejs'); %>
</header>

<header>
    <%- include('./layout/diseñoProveedoresRegistrados.ejs'); %>
</header>
<body>
<div class="cart-section mt-50 mb-50">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-name">ID Proveedor</th>
                                <th class="product-name">Nombre</th>
                                <th class="product-name">Apellido</th>
                                <th class="product-name">Telefono</th>
                                <th class="product-name">Correo electrónico</th>
                                <th class="product-name">Empresa</th>
                                <th class="product-name" colspan="2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% consultar_Proveedor.forEach(proveedor => { %>
                                <tr class="table-head-row">
                                    <td class="product-name"><%= proveedor.ID_Proveedor %></td>
                                    <td class="product-name"><%= proveedor.Nombre %></td>
                                    <td class="product-name"><%= proveedor.Apellido %></td>
                                    <td class="product-name"><%= proveedor.Telefono %></td>
                                    <td class="product-name"><%= proveedor.Correo %></td>
                                    <td class="product-name"><%= proveedor.Empresa %></td>
                                    <td>
                                        <a href="/actualizacionProveedores?id=<%= proveedor.ID_Proveedor %>&nombre=<%= proveedor.Nombre %>&apellido=<%= proveedor.Apellido %>&telefono=<%= proveedor.Telefono %>&correo=<%= proveedor.Correo %>&empresa=<%= proveedor.Empresa %>" style="text-decoration: none; color: blue;">Actualizar</a>
                                    </td>
                                    <td class="product-name">
                                        <a onclick="eliminar(<%= proveedor.ID_Proveedor %>)" style="text-decoration: none; color: red;">Borrar</a>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
<script>
    function eliminar(id) {
        Swal.fire({
            title: '¿Quieres eliminar el proveedor?',
            text: "Si eliminas el registro no podrás revertir la acción",
            icon: "question",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Eliminar",
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/proveedoresRegistrados/' + id, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        Swal.fire({
                            title: "Eliminado!",
                            text: "El proveedor ha sido eliminado",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 3000
                        });
                        setTimeout(() => {
                            window.location = '/proveedoresRegistrados';
                        }, 1000);
                    } else {
                        throw new Error('No se pudo eliminar el proveedor');
                    }
                })
                .catch(error => {
                    console.error('Error al eliminar el proveedor:', error);
                    Swal.fire({
                        title: 'Error',
                        text: 'Hubo un error al eliminar el proveedor.',
                        icon: 'error'
                    });
                });
            }
        }).catch(error => {
            console.error('Error al mostrar la ventana modal:', error);
        });
    }
</script>

<footer>
    <%- include('./layout/footer.ejs'); -%>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>